[submodule "libraries/clibdpa"]
	path = libraries/clibdpa
	url = https://gitlab.iqrf.org/open-source/iqrf-sdk/clibdpa.git
[submodule "libraries/clibcdc"]
	path = libraries/clibcdc
	url = https://github.com/iqrfsdk/clibcdc.git
[submodule "libraries/clibspi"]
	path = libraries/clibspi
	url = https://github.com/iqrfsdk/clibspi.git
[submodule "libraries/clibuart"]
	path = libraries/clibuart
	url = https://gitlab.iqrf.org/open-source/iqrf-sdk/clibuart.git
[submodule "libraries/sqlite_modern_cpp"]
	path = libraries/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
[submodule "libraries/iqrf-header-parser"]
	path = libraries/iqrf-header-parser
	url = https://gitlab.iqrf.org/open-source/iqrf-header-parser.git
[submodule "libraries/croncpp"]
	path = libraries/croncpp
	url = https://gitlab.iqrf.org/open-source/iqrf-gateway-daemon-utils/croncpp.git
[submodule "libraries/date"]
	path = libraries/date
	url = https://github.com/HowardHinnant/date.git
[submodule "libraries/sqlite_orm"]
	path = libraries/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "libraries/nlohmann_json"]
	path = libraries/nlohmann_json
	url = https://github.com/nlohmann/json.git
