# Copyright 2015-2021 IQRF Tech s.r.o.
# Copyright 2019-2021 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

stages:
  - test
  - update-cache
  - build-package
  - deploy-api

.ccache-template: &ccache-template
  before_script:
    - export CCACHE_COMPILERCHECK="content"
    - export CCACHE_COMPRESS="true"
    - export CCACHE_BASEDIR="$PWD"
    - export CCACHE_DIR="${CCACHE_BASEDIR}/.ccache"
    - ccache --zero-stats --show-stats
    - echo "CCACHEDIR=~/.ccache" > ~/.pbuilderrc
  after_script:
    - export CCACHE_DIR="${PWD}/.ccache"
    - ccache --show-stats
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - .ccache/

.debian-bullseye-amd64-template: &debian-bullseye-amd64-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-bullseye-amd64
  variables:
    ARCH: "amd64"
    DIST: "bullseye"
  tags:
    - linux, amd64

.ssh-template:
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule update --init --recursive

.package-template:
  image: iqrftech/iqrf-gateway-daemon-builder:${DISTRIBUTION}-${DIST}-${ARCH}
  stage: build-package
  dependencies:
    - update-cache
  script:
    - export DATE=`git show --no-patch --format=%cD ${CI_COMMIT_SHA}`
    - if [ "${STABILITY}" == "devel" ]; then gbp dch -a -S --snapshot-number="$CI_PIPELINE_ID" --ignore-branch; fi
    - dch-add-distro -d "${DIST}" -D "${DATE}"
    - find . -exec touch -am -d "${DATE}" {} +
    - debuild -e CCACHE_COMPILERCHECK -e CCACHE_COMPRESS -e CCACHE_BASEDIR -e CCACHE_DIR -e DAEMON_VERSION -b -uc -us -tc
    - mv ../*.deb .
    - 'mv ../*.ddeb . 2>/dev/null || :'
    - mv ../*.changes .
    - sed -i "s/.ddeb/.deb/g" *.changes
    - for file in $(ls *.ddeb) ; do mv "${file}" "${file%.ddeb}.deb"; done
    - export DEPLOY_DIR=/data/nginx/dl/iqrf-gateway-daemon/${DIST}/${ARCH_PREFIX}${ARCH}/${STABILITY}
    - if [ "${STABILITY}" == "devel" ]; then ssh www-deploy@icinga.iqrf.org "rm -f ${DEPLOY_DIR}/*"; fi
    - if [ "${STABILITY}" != "devel" ]; then ssh www-deploy@icinga.iqrf.org "rm -f ${DEPLOY_DIR}/*.changes"; fi
    - rsync -hrvz --delete -e ssh *_all.deb *_${ARCH}.deb *_${ARCH}.changes www-deploy@icinga.iqrf.org:${DEPLOY_DIR}
  artifacts:
    paths:
      - ./*.deb
      - ./*.changes
    expire_in: 2 weeks
  parallel:
    matrix:
      - DISTRIBUTION: debian
        DIST: [bullseye, buster]
        ARCH: [amd64, arm64, armhf, armel, i386]
      - DISTRIBUTION: raspbian
        ARCH: armhf
        ARCH_PREFIX: "rpi-"
        CFLAGS: "-marm -march=armv6zk -mcpu=arm1176jzf-s -mfloat-abi=hard -mfpu=vfp"
        CXXFLAGS: "-marm -march=armv6zk -mcpu=arm1176jzf-s -mfloat-abi=hard -mfpu=vfp"
        DIST: [bullseye, buster]
      - DISTRIBUTION: ubuntu
        DIST: [jammy, focal, bionic]
        ARCH: [amd64, arm64, armhf]
  tags:
    - linux, ${ARCH}
  <<: *ccache-template

.api-template: &api-template
  stage: deploy-api
  only:
    - master
  extends: .ssh-template
  dependencies: []
  script:
    - rsync -hrvz --delete -e ssh api/ www-deploy@icinga.iqrf.org:/data/nginx/apidocs/iqrf-gateway-daemon/latest/json/iqrf/

test:
  stage: test
  extends: .ssh-template
  script:
    - mkdir deploy
    - git clone --branch v1.1.0 --recurse-submodules https://github.com/logimic/shape.git
    - cmake -Bshape-build -Hshape -DBUILD_TESTING:BOOL=true -DCMAKE_BUILD_TYPE=Debug -DSHAPE_DEPLOY:PATH=$PWD/deploy -DUSE_CCACHE=TRUE
    - cmake --build shape-build --target install
    - git clone --branch v1.1.0 --recurse-submodules https://github.com/logimic/shapeware.git
    - cmake -Bshapeware-build -Hshapeware -Dshape_DIR:PATH=`pwd`/shape-build -DBUILD_TESTING:BOOL=true -DCMAKE_BUILD_TYPE=Debug -DUSE_CCACHE=TRUE
    - cmake --build shapeware-build --target install
    - git submodule update --init --recursive
    - cmake -Bbuild -H. -Dshape_DIR:PATH=`pwd`/shape-build -Dshapeware_DIR:PATH=`pwd`/shapeware-build -DBUILD_TESTING:BOOL=true -DCMAKE_BUILD_TYPE=Debug -DUSE_CCACHE=TRUE
    - cmake --build build --target install
    - cd build/ && ctest -V
  <<: *debian-bullseye-amd64-template
  <<: *ccache-template

api-testing:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk add --no-cache docker-compose
  script:
    - docker-compose -f apitesting.docker-compose.yml up --build --abort-on-container-exit --exit-code-from tests
  tags:
    - docker
    - daemon-api-testing

update-cache:
  stage: update-cache
  script:
    - python3 src/start-IqrfDaemon/iqrfRepoCache/update-cache.py
  artifacts:
    paths:
      - src/start-IqrfDaemon/iqrfRepoCache/
    expire_in: 1 day
  <<: *debian-bullseye-amd64-template

package-devel:
  only:
    - master
  extends: .package-template
  before_script:
    - !reference [.ccache-template, before_script]
    - export DAEMON_VERSION=v2.4.0-beta~${CI_PIPELINE_ID}
    - export STABILITY=devel
    - !reference [.ssh-template, before_script]

package-release:
  only:
    - tags
  extends: .package-template
  before_script:
    - !reference [.ccache-template, before_script]
    - export DAEMON_VERSION="$CI_COMMIT_TAG"
    - '[[ "$CI_COMMIT_TAG" =~ ^.*-(alpha|beta|rc)[0-9]*$ ]] && export STABILITY="testing" || export STABILITY="stable"'
    - !reference [.ssh-template, before_script]

# API
api-deploy:
  <<: *debian-bullseye-amd64-template
  <<: *api-template

include:
  - template: Code-Quality.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
