stages:
  - tests
  - clean-dirs
  - build-package
  - deploy-api

.debian-buster-amd64-template: &debian-buster-amd64-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-amd64
  variables:
    ARCH: "amd64"
    DIST: "buster"
  tags:
    - linux, amd64

.debian-buster-arm64-template: &debian-buster-arm64-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-arm64
  variables:
    ARCH: "arm64"
    DIST: "buster"
  tags:
    - linux, arm64

.debian-buster-armel-template: &debian-buster-armel-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-armel
  variables:
    ARCH: "armel"
    DIST: "buster"
  tags:
    - linux, armel

.debian-buster-armhf-template: &debian-buster-armhf-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-armhf
  variables:
    ARCH: "armhf"
    DIST: "buster"
  tags:
    - linux, armhf

.debian-buster-i386-template: &debian-buster-i386-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-i386
  variables:
    ARCH: "i386"
    DIST: "buster"
  tags:
    - linux, i386

.debian-stretch-amd64-template: &debian-stretch-amd64-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-amd64
  variables:
    ARCH: "amd64"
    DIST: "stretch"
  tags:
    - linux, amd64

.debian-stretch-arm64-template: &debian-stretch-arm64-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-arm64
  variables:
    ARCH: "arm64"
    DIST: "stretch"
  tags:
    - linux, arm64

.debian-stretch-armel-template: &debian-stretch-armel-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-armel
  variables:
    ARCH: "armel"
    DIST: "stretch"
  tags:
    - linux, armel

.debian-stretch-armhf-template: &debian-stretch-armhf-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-armhf
  variables:
    ARCH: "armhf"
    DIST: "stretch"
  tags:
    - linux, armhf

.debian-stretch-i386-template: &debian-stretch-i386-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-i386
  variables:
    ARCH: "i386"
    DIST: "stretch"
  tags:
    - linux, i386

.raspbian-buster-armhf-template: &raspbian-buster-armhf-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-armhf
  variables:
    ARCH: "armhf"
    ARCH_PREFIX: "rpi-"
    DIST: "buster"
    CFLAGS: "-marm -march=armv6 -mfpu=vfp -mfloat-abi=hard"
    CXXFLAGS: "-marm -march=armv6 -mfpu=vfp -mfloat-abi=hard"
  tags:
    - linux, armhf

.raspbian-stretch-armhf-template: &raspbian-stretch-armhf-template
  image: iqrftech/iqrf-gateway-daemon-builder:debian-stretch-armhf
  variables:
    ARCH: "armhf"
    ARCH_PREFIX: "rpi-"
    DIST: "stretch"
    CFLAGS: "-marm -march=armv6 -mfpu=vfp -mfloat-abi=hard"
    CXXFLAGS: "-marm -march=armv6 -mfpu=vfp -mfloat-abi=hard"
  tags:
    - linux, armhf

.ubuntu-bionic-amd64-template: &ubuntu-bionic-amd64-template
  image: iqrftech/iqrf-gateway-daemon-builder:ubuntu-bionic-amd64
  variables:
    ARCH: "amd64"
    DIST: "bionic"
  tags:
    - linux, amd64

.ubuntu-xenial-amd64-template: &ubuntu-xenial-amd64-template
  image: iqrftech/iqrf-gateway-daemon-builder:ubuntu-xenial-amd64
  variables:
    ARCH: "amd64"
    DIST: "xenial"
  tags:
    - linux, amd64

.ssh_template:
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule init
    - git submodule update

.package-template:
  stage: build-package
  dependencies: []
  script:
    - git clone https://github.com/logimic/shape.git shape-source
    - mkdir shape-build shape-libs shapeware-build shapeware-libs
    - cmake -Bshape-build -Hshape-source -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE
    - cmake --build shape-build
    - git clone --recurse-submodules https://github.com/logimic/shapeware.git shapeware-source
    - cmake -Bshapeware-build -Hshapeware-source -Dshape_DIR:PATH=`pwd`/shape-build -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE
    - cmake --build shapeware-build
    - cd src/start-IqrfDaemon/iqrfRepoCache/ && python3 update-cache.py && cd ../../../
    - if [ "${STABILITY}" == "devel" ]; then gbp dch -a -S --snapshot-number="$CI_PIPELINE_ID" --ignore-branch; fi
    - dch-add-distro -d "${DIST}"
    - debuild -e DAEMON_VERSION -b -uc -us -tc
    - mv ../*.deb .
    - 'mv ../*.ddeb . 2>/dev/null || :'
    - mv ../*.changes .
    - sed -i "s/.ddeb/.deb/g" *.changes
    - for file in $(ls *.ddeb) ; do mv "${file}" "${file%.ddeb}.deb"; done
    - rsync -hrvz --delete -e ssh *_${ARCH}.deb *_${ARCH}.changes www-deploy@iqrfsdk.org:/data/nginx/dl/iqrf-gateway-daemon/${DIST}/${ARCH_PREFIX}${ARCH}/${STABILITY}
  artifacts:
    paths:
      - ./*.deb
      - ./*.changes
    expire_in: 2 weeks

.package-devel-template: &package-devel-template
  only:
    - master
  extends: .package-template
  before_script:
    - export DAEMON_VERSION=v2.2.0-beta~${CI_PIPELINE_ID}
    - export STABULITY=devel
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule init
    - git submodule update

.package-release-template: &package-release-template
  only:
    - tags
  extends: .package-template
  before_script:
    - export STABULITY=stable
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule init
    - git submodule update

.package_debug-template:
  stage: build-package
  dependencies: []
  script:
    - git clone https://github.com/logimic/shape.git shape-source
    - mkdir shape-build shape-libs shapeware-build shapeware-libs
    - cmake -Bshape-build -Hshape-source -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE -DCMAKE_BUILD_TYPE=Debug
    - cmake --build shape-build
    - bash src/.gitlab_build_files/copy_shape_libs.sh shape-libs
    - git clone --recurse-submodules https://github.com/logimic/shapeware.git shapeware-source
    - cmake -Bshapeware-build -Hshapeware-source -Dshape_DIR:PATH=`pwd`/shape-build -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE -DCMAKE_BUILD_TYPE=Debug
    - cmake --build shapeware-build
    - bash src/.gitlab_build_files/copy_shapeware_libs.sh shapeware-libs
    - cmake -Biqrf-daemon-build -H. -Dshape_DIR:PATH=`pwd`/shape-build -Dshapeware_DIR:PATH=`pwd`/shapeware-build -DDAEMON_VERSION:STRING=${DAEMON_VERSION} -DCMAKE_BUILD_TYPE=Debug
    - cmake --build iqrf-daemon-build
    - cd src/start-IqrfDaemon/iqrfRepoCache/ && python3 update-cache.py && cd ../../../
    - if [ "${STABILITY}" == "devel" ]; then gbp dch -a -S --snapshot-number="$CI_PIPELINE_ID" --ignore-branch; fi
    - dch-add-distro -d "${DIST}"
    - bash src/.gitlab_build_files/copy_daemon_files_${BUILD_TYPE}.sh iqrf-daemon-deploy
    - bash src/.gitlab_build_files/create_daemon_package_dbg.sh ${DIST} "${BUILD_TYPE}"
    - rsync -hrvz --delete -e ssh iqrf-gateway-daemon-dbg*.deb www-deploy@iqrfsdk.org:/data/nginx/dl/iqrf-gateway-daemon/${DIST}/${ARCH_PREFIX}${ARCH}/${STABILITY}
  artifacts:
    paths:
      - iqrf-gateway-daemon-dbg*.deb
    expire_in: 2 weeks

.package_debug-devel-template: &package_debug-devel-template
  only:
    - master
  extends: .package_debug-template
  before_script:
    - export BUILD_TYPE=devel
    - export DAEMON_VERSION=v2.2.0-beta~${CI_PIPELINE_ID}
    - export STABULITY=devel
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule init
    - git submodule update

.package_debug-release-template: &package_debug-release-template
  only:
    - tags
  extends: .package_debug-template
  before_script:
    - export BUILD_TYPE=release
    - export DAEMON_VERSION="$CI_COMMIT_TAG"
    - export STABULITY=stable
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - git submodule init
    - git submodule update

.api-template: &api-template
  stage: deploy-api
  only:
    - master
  extends: .ssh_template
  dependencies: []
  script:
    - rsync -hrvz --delete -e ssh api/ www-deploy@iqrfsdk.org:/data/nginx/apidocs/iqrf-gateway-daemon/json/iqrf/

.clean-template:
  image: iqrftech/iqrf-gateway-daemon-builder:debian-buster-amd64
  stage: clean-dirs
  extends: .ssh_template
  dependencies: []

clean-devel:
  extends: .clean-template
  only:
    - master
  script:
    - ssh www-deploy@iqrfsdk.org "rm -f /data/nginx/dl/iqrf-gateway-daemon/*/*/devel/*"

clean-release:
  extends: .clean-template
  only:
    - tags
  script:
    - ssh www-deploy@iqrfsdk.org "rm -f /data/nginx/dl/iqrf-gateway-daemon/*/*/stable/*.changes"

# Debian buster
## amd64
package-buster-amd64:
  <<: *debian-buster-amd64-template
  <<: *package-devel-template

package_debug-buster-amd64:
  <<: *debian-buster-amd64-template
  <<: *package_debug-devel-template

package_release-buster-amd64:
  <<: *debian-buster-amd64-template
  <<: *package-release-template

package_debug_release-buster-amd64:
  <<: *debian-buster-amd64-template
  <<: *package_debug-release-template

## arm64
package-buster-arm64:
  <<: *debian-buster-arm64-template
  <<: *package-devel-template

#package_debug-buster-arm64:
#  <<: *debian-buster-arm64-template
#  <<: *package_debug-devel-template

package_release-buster-arm64:
  <<: *debian-buster-arm64-template
  <<: *package-release-template

#package_debug_release-buster-arm64:
#  <<: *debian-buster-arm64-template
#  <<: *package_debug-release-template

## armel
package-buster-armel:
  <<: *debian-buster-armel-template
  <<: *package-devel-template

#package_debug-buster-armel:
#  <<: *debian-buster-armel-template
#  <<: *package_debug-devel-template

package_release-buster-armel:
  <<: *debian-buster-armel-template
  <<: *package-release-template

#package_debug_release-buster-armel:
#  <<: *debian-buster-armel-template
#  <<: *package_debug-release-template

## armhf
package-buster-armhf:
  <<: *debian-buster-armhf-template
  <<: *package-devel-template

#package_debug-buster-armhf:
#  <<: *debian-buster-armhf-template
#  <<: *package_debug-devel-template

package_release-buster-armhf:
  <<: *debian-buster-armhf-template
  <<: *package-release-template

#package_debug_release-buster-armhf:
#  <<: *debian-buster-armhf-template
#  <<: *package_debug-release-template

## i386
package-buster-i386:
  <<: *debian-buster-i386-template
  <<: *package-devel-template

#package_debug-buster-i386:
#  <<: *debian-buster-i386-template
#  <<: *package_debug-devel-template

package_release-buster-i386:
  <<: *debian-buster-i386-template
  <<: *package-release-template

#package_debug_release-buster-i386:
#  <<: *debian-buster-i386-template
#  <<: *package_debug-release-template

# Debian stretch
## amd64
package-stretch-amd64:
  <<: *debian-stretch-amd64-template
  <<: *package-devel-template

package_debug-stretch-amd64:
  <<: *debian-stretch-amd64-template
  <<: *package_debug-devel-template

package_release-stretch-amd64:
  <<: *debian-stretch-amd64-template
  <<: *package-release-template

package_debug_release-stretch-amd64:
  <<: *debian-stretch-amd64-template
  <<: *package_debug-release-template

## arm64
package-stretch-arm64:
  <<: *debian-stretch-arm64-template
  <<: *package-devel-template

package_debug-stretch-arm64:
  <<: *debian-stretch-arm64-template
  <<: *package_debug-devel-template

package_release-stretch-arm64:
  <<: *debian-stretch-arm64-template
  <<: *package-release-template

package_debug_release-stretch-arm64:
  <<: *debian-stretch-arm64-template
  <<: *package_debug-release-template

## armel
package-stretch-armel:
  <<: *debian-stretch-armel-template
  <<: *package-devel-template

package_debug-stretch-armel:
  <<: *debian-stretch-armel-template
  <<: *package_debug-devel-template

package_release-stretch-armel:
  <<: *debian-stretch-armel-template
  <<: *package-release-template

package_debug_release-stretch-armel:
  <<: *debian-stretch-armel-template
  <<: *package_debug-release-template

## armhf
package-stretch-armhf:
  <<: *debian-stretch-armhf-template
  <<: *package-devel-template

package_debug-stretch-armhf:
  <<: *debian-stretch-armhf-template
  <<: *package_debug-devel-template

package_release-stretch-armhf:
  <<: *debian-stretch-armhf-template
  <<: *package-release-template

package_debug_release-stretch-armhf:
  <<: *debian-stretch-armhf-template
  <<: *package_debug-release-template

## i386
package-stretch-i386:
  <<: *debian-stretch-i386-template
  <<: *package-devel-template

package_debug-stretch-i386:
  <<: *debian-stretch-i386-template
  <<: *package_debug-devel-template

package_release-stretch-i386:
  <<: *debian-stretch-i386-template
  <<: *package-release-template

package_debug_release-stretch-i386:
  <<: *debian-stretch-i386-template
  <<: *package_debug-release-template

# Raspbian buster
## armhf
rpi-package-buster-armhf:
  <<: *raspbian-buster-armhf-template
  <<: *package-devel-template

#rpi-package_debug-buster-armhf:
#  <<: *raspbian-buster-armhf-template
#  <<: *package_debug-devel-template

rpi-package_release-buster-armhf:
  <<: *raspbian-buster-armhf-template
  <<: *package-release-template

#rpi-package_debug_release-buster-armhf:
#  <<: *raspbian-buster-armhf-template
#  <<: *package_debug-release-template

# Raspbian stretch
## armhf
rpi-package-stretch-armhf:
  <<: *raspbian-stretch-armhf-template
  <<: *package-devel-template

rpi-package_debug-stretch-armhf:
  <<: *raspbian-stretch-armhf-template
  <<: *package_debug-devel-template

rpi-package_release-stretch-armhf:
  <<: *raspbian-stretch-armhf-template
  <<: *package-release-template

rpi-package_debug_release-stretch-armhf:
  <<: *raspbian-stretch-armhf-template
  <<: *package_debug-release-template

# Ubuntu bionic
## amd64
package-bionic-amd64:
  <<: *ubuntu-bionic-amd64-template
  <<: *package-devel-template

package_debug-bionic-amd64:
  <<: *ubuntu-bionic-amd64-template
  <<: *package_debug-devel-template

package_release-bionic-amd64:
  <<: *ubuntu-bionic-amd64-template
  <<: *package-release-template

package_debug_release-bionic-amd64:
  <<: *ubuntu-bionic-amd64-template
  <<: *package_debug-release-template

# Ubuntu xenial
## amd64
package-xenial-amd64:
  <<: *ubuntu-xenial-amd64-template
  <<: *package-devel-template

package_debug-xenial-amd64:
  <<: *ubuntu-xenial-amd64-template
  <<: *package_debug-devel-template

package_release-xenial-amd64:
  <<: *ubuntu-xenial-amd64-template
  <<: *package-release-template

package_debug_release-xenial-amd64:
  <<: *ubuntu-xenial-amd64-template
  <<: *package_debug-release-template

# API
api-deploy:
  <<: *debian-buster-amd64-template
  <<: *api-template
