# build
[Bb]uild/
.vscode

# ci build
shape-source/
shape-build/
shapeware-source/
shapeware-build/

# api/tests
.pytest_cache

# examples
examples/java/iqrf-raw/bin/
examples/java/iqrf-raw/target/
examples/c#/iqrf-gw-api/bin/
examples/c#/iqrf-gw-api/obj/

# CLion
.idea/
cmake-build-debug/

# ccache
.ccache/

# IQRF Repository cache
src/start-IqrfDaemon/iqrfRepoCache/cache/