# build
[Bb]uild/
.vscode

# ci build
shape-source/
shape-build/
shapeware-source/
shapeware-build/

# examples
examples/java/iqrfraw/target/
examples/c#/test-api-app/packages/
examples/c#/test-api-app/test-api-app/bin/
examples/c#/test-api-app/test-api-app/obj/
examples/c#/test-api-app/.vs/
