image: buildpack-deps:stretch

stages:
	- dependencies
	- build

before_script:
	- apt-get update -y
	- apt-get install --no-install-recommends -y build-essential git cmake gcc g++ zlib1g-dev libcpprest-dev libssl-dev mlocate ruby ruby-dev unzip wget
	- apt-get clean
	- rm -rf /var/lib/apt/lists/*
	- gem install --no-rdoc --no-ri fpm
	
shape-build:
	stage: dependencies
	script:
		- git clone https://github.com/logimic/shape.git shape-source
		- mkdir shape-build shape-libs
		- cmake -Bshape-build -Hshape-source -DCMAKE_BUILD_TYPE=Debug
		- make -j$(nproc) -C shape-build
		- bash .gitlab_build_files/copy_shape_libs.sh shape-libs
		- tar czvf shape-libs_amd64.tar.gz shape-libs
	artifacts:
		paths:
			shape-libs_amd64.tar.gz
	tags:
		- linux, amd64
