[submodule "src/libraries/clibdpa"]
	path = libraries/clibdpa
	url = https://github.com/iqrfsdk/clibdpa.git
[submodule "src/libraries/clibcdc"]
	path = libraries/clibcdc
	url = https://github.com/iqrfsdk/clibcdc.git
[submodule "src/libraries/clibspi"]
	path = libraries/clibspi
	url = https://github.com/iqrfsdk/clibspi.git
[submodule "src/libraries/clibuart"]
	path = libraries/clibuart
	url = https://github.com/iqrfsdk/clibuart.git
