Karel Hanák <karel.hanak@iqrf.org> <karel.hanak@microrisc.com>
Karel Hanák <karel.hanak@iqrf.org> <khgreav@gmail.com>

Roman Ondráček <roman.ondracek@iqrf.com> <ondracek.roman@centrum.cz>
Roman Ondráček <roman.ondracek@iqrf.com> <mail@romanondracek.cz>
Roman Ondráček <roman.ondracek@iqrf.com> <roman.ondracek@iqrf.org>

Rostislav Spinar <rostislav.spinar@iqrf.com> <rostislav.spinar@microrisc.com>
Rostislav Spinar <rostislav.spinar@iqrf.com> <spinarr@users.noreply.github.com>

Vasek Hanak <vasek.hanak@microrisc.com> vencek <vasek.hanak@microrisc.com>
Vasek Hanak <vasek.hanak@microrisc.com> <vencekh@seznam.cz>

Frantisek Mikulu <frantisek.mikulu@logimic.com> <frantisek.mikulu@openhs.org>
Frantisek Mikulu <frantisek.mikulu@logimic.com> Frantisek <frantisek.mikulu@logimic.com>

Michal Valny <michal.valny@logimic.com> <michal.valny@openhs.org>
