Source: iqrf-gateway-daemon
Section: comm
Priority: optional
Maintainer: Rostislav Spinar <rostislav.spinar@iqrf.com>
Build-Depends: debhelper (>= 12), debhelper-compat (= 12), ccache, cmake,
 libboost-filesystem-dev, libc6, libcurl4-openssl-dev, libiqrf-connector-dev,
 libiqrf-gpio-dev, linux-libc-dev, libpaho-mqtt-dev, libssl-dev, libstdc++6,
 libsqlite3-dev, libbz2-dev, libzip-dev, zlib1g-dev
Standards-Version: 4.5.1
Homepage: https://gitlab.iqrf.org/open-source/iqrf-gateway-daemon
Vcs-Git: https://gitlab.iqrf.org/open-source/iqrf-gateway-daemon.git
Vcs-Browser: https://gitlab.iqrf.org/open-source/iqrf-gateway-daemon

Package: iqrf-gateway-daemon
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, jq, systemd-timesyncd
Replaces: iqrf-daemon (<< 2.0.0)
Breaks: iqrf-daemon (<< 2.0.0)
Description: IQRF Gateway Daemon
 IQRF Gateway Daemon is a powerful open source software allowing to easily
 create an IQRF gateway with Internet connectivity from a Linux machine.
 .
 It can be connected to a TR via SPI, UART or USB CDC. The TR implements an
 IQMESH network Coordinator under the DPA layer.
 .
 The Daemon utilizes multiple communication channels UDP, MQ, WebSocket and MQTT
 and can be managed through the IQRF Gateway Webapp.

Package: iqrf-gateway-daemon-default-cfg
Architecture: all
Depends: iqrf-gateway-daemon (= ${binary:Version})
Description: IQRF Gateway Daemon - Default Configuration
 Default configuration files for IQRF Gateway Daemon.
 .
 IQRF Gateway Daemon is a powerful open source software allowing to easily
 create an IQRF gateway with Internet connectivity from a Linux machine.
