#!/usr/bin/make -f

%:
	dh $@  --buildsystem=cmake --builddirectory=build --with=systemd

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE \
	-Dshapeware_DIR:PATH=`pwd`/shapeware-build -Dshape_DIR:PATH=`pwd`/shape-build -DBUILD_TESTING=false \
	-DDAEMON_VERSION:STRING=${DAEMON_VERSION} -DCMAKE_BUILD_TYPE=Debug

override_dh_fixperms:
	dh_fixperms
	chmod -R 666 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon
	chmod 777 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon
	chmod 777 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/certs
	chmod 777 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/cfgSchemas
	chmod -R 666 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/scheduler
	chmod 777 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/scheduler
	chmod 777 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/scheduler/schema
	chmod -R 666 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/upload
	chmod 777 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/upload

override_dh_auto_install:
	echo "skip make install"

override_dh_install:
	dh_install
	#release: rm components from package: IqrfInfo, AutoNetwork, OTA
	rm -rf debian/iqrf-gateway-daemon/builds
	rm debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/iqrfRepoCache/update-cache.py
