#!/usr/bin/make -f

%:
	dh $@  --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_SKIP_INSTALL_RPATH=TRUE -DCMAKE_SKIP_BUILD_RPATH=TRUE -DCMAKE_SKIP_RPATH=TRUE \
	-Dshapeware_DIR:PATH=`pwd`/shapeware-build -Dshape_DIR:PATH=`pwd`/shape-build -DBUILD_TESTING=false \
	-DDAEMON_VERSION:STRING=${DAEMON_VERSION}

override_dh_fixperms:
	dh_fixperms
	chmod -R 666 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/
	chmod 777 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/
	chmod 777 debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/cfgSchemas/
	chmod -R 666 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/scheduler/
	chmod 777 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/scheduler/
	chmod -R 666 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/metaData/
	chmod 777 debian/iqrf-gateway-daemon/var/cache/iqrf-gateway-daemon/metaData/

override_dh_install:
	dh_install
	rm -f debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/iqrf__OtaUploadService.json
	rm -f debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/cfgSchemas/schema__iqrf__OtaUploadService.json
	rm -f debian/iqrf-gateway-daemon/usr/lib/iqrf-gateway-daemon/libOtaUploadService.so
	rm -f debian/iqrf-gateway-daemon/usr/share/iqrf-gateway-daemon/apiSchemas/iqmeshNetwork_OtaUpload*.json
	rm -f debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/iqrf__AutonetworkService.json
	rm -f debian/iqrf-gateway-daemon/etc/iqrf-gateway-daemon/cfgSchemas/schema__iqrf__AutonetworkService.json
	rm -f debian/iqrf-gateway-daemon/usr/lib/iqrf-gateway-daemon/libAutonetworkService.so
	rm -f debian/iqrf-gateway-daemon/usr/share/iqrf-gateway-daemon/apiSchemas/iqmeshNetwork_AutoNetwork*.json
	rm -rf debian/iqrf-gateway-daemon/builds